
/*body {*/
    /*color: red;*/

/*}*/

.nav.navbar.navbar-inverse {

    margin-left: 2%;
    margin-right: 2%;
    margin-top: 1%;

}

.log {
    float: left;
}

#sticky {
    width: 100%;
    padding: 40px;
    padding-bottom: 17px;
    background: black;
    color: white;
    font-weight: bold;
    font-size: 15px;
    text-align: center;
    position: fixed; /*Here's what sticks it*/
    bottom: 0; /*to the bottom of the body*/
    left: 0; /*and to the left of the body.*/

    /*EFFECTS*/
    border-top: 1px solid whitesmoke;
    background-image: url('../image/foot.gif')
}
.login {
    background-image: url('../image/pic.jpg');
    background-position: -100px -80px;
    position: fixed;
    width: 100%;
    height: 100%;
    background-size: cover;
    left: 0;
    opacity: 0.7;

}
.signup {
    background-image: url('../image/pic.jpg');
    background-position: -100px -80px;
    position: absolute;
    width: 100%;
    height: 100%;
    background-size: cover;
    left: 0;
    bottom: -10;
    opacity: 0.7;

}
.container {
    margin-top: 70px;
    height: 700px;
}
.container .navbar-fixed-left {
    width: 190px;
    position: fixed;
    border-radius: 0;
    height: 100%;
    /*margin-left: 0px;*/
    left: 0px;
    /*margin-top:-2.6px;*/
    background: #152227;

}
.container .navbar-fixed-left .img-circle{
    margin-top: 15px;
}
.container .navbar-fixed-left .navbar-nav > li {
    float: none;  /* Cancel default li float: left */
    width: 149px;
    position:center;
    margin-left: 30px;
    margin-top: 10px;

}
.container .navbar-fixed-left + .main  {
    padding-left: 100px;
}
/* On using dropdown menu (To right shift popuped) */
.container .navbar-fixed-left .navbar-nav > li > .dropdown-menu {
    margin-top:-50px;
    margin-left: 140px;
}
.container .dropdown-menu{
    background: rgba(176, 255, 124, 0.91);
}
.container .sidenav {
    height: 100%;
    width: 220px;
    position: fixed;
    z-index: 1;
    top: 13%;
    left: 1%;
    background-color: #152227;
    padding-top: 20px;
}

.container .sidenav > a {
    padding: 6px 8px 6px 16px;
    text-decoration:  none;
    font-size: 25px;
    top: 1%;
    left: 1%;
    color: yellow;
    display: block;
    position: center;

}

.container .sidenav a:hover {
    color: #f1f1f1;
}

.container .main {
    margin-left: 50px; /* Same as the width of the sidenav */
    font-size: 20px; /* Increased text to enable scrolling */
    padding: 0px 10px;

}

@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }

    .sidenav a {
        font-size: 18px;
    }
}

.leaverequest{
    margin-top: 20px;

}

/*#sidebar ul li a {*/
    /*text-align: left;*/
/*}*/

/*#sidebar.active ul li a {*/
    /*padding: 20px 10px;*/
    /*text-align: center;*/
    /*font-size: 0.85em;*/
/*}*/

/*#sidebar.active ul li a i {*/
    /*margin-right: 0;*/
    /*display: block;*/
    /*font-size: 1.8em;*/
    /*margin-bottom: 5px;*/
/*}*/

table {
    border: 2px solid darkgreen;
    border-spacing: 0px;
    background-color: lightblue;
    border-collapse: collapse;
}

thead {
    font-weight: bold;
    text-decoration: underline;
    background-color: darkcyan;

}

tfoot {
    font-weight: bold;
    text-decoration: underline;
    background-color: darkslateblue;
}

th {
    border: 1px solid white;
    padding: 4px;
}

td {
    text-align: center;
    vertical-align: middle;
    padding: 4px;
    border: 1px solid #000;
    color: black;
}

.td__color_color {
    text-align: right;
}

.td__color_name {
    text-align: left;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

fieldset {
    border:  2px solid #333;
    border-radius: 10px;
    padding: 10px;
    margin: 10px 0px;
}

legend {

    color: blue;
}

#mtech {
    font-size: 50%;
    margin-left: 5px;
    width: 50px;
    margin-bottom: 10px;
}

.container1 .table-user-information tbody tr {
    border-top: 1px solid rgb(221, 221, 221);

}

#table-user-information > tbody > tr:first-child {
    border-top: 0;
}


#table-user-information > tbody > tr > td {
    border-top: 0;
}